@import './icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-1: #36BF8D;
    --color-1-hover: #31a57a;
    --color-1: white;
    --color-1-hover: rgb(219, 219, 219);
    --color-selected: rgb(233, 233, 233);
}
body{/* 
    background-color: rgb(48, 48, 48); */
}
.date-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-container input{
    width: calc(50% - 0.5rem);
    margin-bottom: 1rem;
    padding: .4rem;
    font-size: 1.2rem;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
    text-align: center;
}
.date-container input::placeholder{
    color: #cac6c6;
}
.date-container button{
    background-color: #17b595;
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)
}

#calendario{
    max-width: 300px;
    overflow: hidden;
    cursor: default;
    min-width: 280px;
    width: 50%;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 20px;
    margin: 0px auto;
    background-color: var(--color-1);
    padding: 1rem;
    color: #afacac;
}
/* header of the calendary */
#calendario .button-container{
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#calendario .month-container{
    overflow: hidden;
    position: relative;
    display: flex;
    flex: 1;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}
#calendario .current-month{
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    right: 0px;
}
#calendario .side-month{
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 110%;
    top: 0px;
}
#calendario .back-month{
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -110%;
    top: 0px;
}

#calendar-prev-button,
#calendar-next-button{
    z-index: 2;
    cursor: pointer;
    position: relative;
    width: 3rem;
    border: none;
    border-radius: 50%;
    background-color: var(--color-1);
    aspect-ratio: 1 / 1;
}

#calendar-prev-button:hover,
#calendar-next-button:hover{
    background-color: var(--color-1-hover);
}

#calendar-prev-button svg,
#calendar-next-button svg{
    width: 30%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* days style */
#calendario .table-container{
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: white;
}

#calendario table{
    position: relative;
    width: 100%;
    border-spacing: unset;
}
#calendario table.current-table{
    right: 0%;
}
#calendario table.side-table{
    position: absolute;
    left: 110%;
    top: 0px;
}
#calendario table.back-table{
    position: absolute;
    left: -110%;
    top: 0px;
}
#calendario table tr{
    width: 100%;
}

#calendario table th,
#calendario table td{
    width: calc(100%/7);
    border: 2px solid white;
    border-radius: 50%;
}
#calendario table th div,
#calendario table td div{
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
}

#calendario table td.day-of-month-invalid{
    text-decoration-line: line-through;
    color: rgb(172, 172, 172);
}

#calendario table td.day-of-month:hover{
    cursor: pointer;
    border: 2px solid black;
}

#calendario table td.day-of-month.initial-day,
#calendario table td.day-of-month.final-day{
    background-color: white;
    border: var(--color-selected);
    color: white;
}

#calendario table td.day-of-month.initial-day.is-prev{
    background-color: var(--color-selected);
}
#calendario table td.day-of-month.final-day{
    background-color: var(--color-selected);
}

#calendario table td.day-of-month.initial-day div,
#calendario table td.day-of-month.final-day div{
    background-color: black;
    border-radius: 50%;
    color: white;
}

#calendario table td.day-of-month.initial-day{
    position: relative;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#calendario table td.day-of-month.final-day{
    position: relative;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#calendario table td.selected-day{
    background-color: var(--color-selected);
    border-radius: 0px;
    border-color: var(--color-selected);
}
#calendario table td.selected-day:hover{
    border-color: var(--color-selected);
}
#calendario table td.selected-day:hover div{
    border-radius: 50%;
    border: 1px solid black;
}

/* Next animations */
#calendario .current-month.anim-next,
#calendario table.current-table.anim-next{
    animation: calendar-current-next .3s ease-in-out forwards;
}

#calendario .side-month.anim-next,
#calendario table.side-table.anim-next{
    animation: calendar-side-next .3s ease-in-out forwards;
}

@keyframes calendar-current-next{
    from{
        position: absolute;
        right: 0%;
    }
    to{
        position: absolute;
        right: 110%;
    }
}
@keyframes calendar-side-next{
    from{
        position: relative;
        left: 110%;
    }
    to{
        position: relative;
        left: 0%;
    }
}

/* Prev animations */
#calendario .current-month.anim-prev,
#calendario table.current-table.anim-prev{
    animation: calendar-current-prev .3s ease-in-out forwards;
}

#calendario .back-month.anim-prev,
#calendario table.back-table.anim-prev{
    animation: calendar-back-prev .3s ease-in-out forwards;
}

@keyframes calendar-current-prev{
    from{
        position: absolute;
        right: 0%;
    }
    to{
        position: absolute;
        right: -110%;
    }
}
@keyframes calendar-back-prev{
    from{
        position: relative;
        left: -110%;
    }
    to{
        position: relative;
        left: 0%;
    }
}